# SPDX-FileCopyrightText: Copyright 2025-2026 run0edit authors (https://github.com/HastD/run0edit)
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

.actrc
.artifacts
.coverage
.mypy_cache
.pyc
.ruff_cache
.ssh
.venv
__pycache__
uv.lock
