# SPDX-FileCopyrightText: Copyright 2026 run0edit authors (https://github.com/HastD/run0edit)
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

name: Linters

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  mypy:
    name: mypy
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy

      - name: Run mypy
        run: |
          PATH="$HOME/.local/bin:$PATH"
          mypy .

  reuse:
    name: REUSE spec compliance
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Check REUSE compliance
        shell: bash
        run: |
          pipx run reuse lint

  rpmlint:
    name: Lint RPM spec
    runs-on: ubuntu-latest
    container: fedora:43
    steps:
      - name: Install dependencies
        shell: bash
        run: |
          sudo dnf install -y rpmlint

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Run rpmlint
        shell: bash
        run: |
          rpmlint rpm/run0edit.spec

  ruff:
    name: Ruff (Python linter)
    runs-on: ubuntu-slim
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff

      - name: Run Ruff
        run: ruff check --output-format=github .

      - name: Check code formatting
        run: ruff format --diff

  shellcheck:
    name: Run ShellCheck on shell scripts
    runs-on: ubuntu-slim
    steps:
      - name: Install dependencies
        shell: bash
        run: |
          sudo apt update
          sudo apt install shellcheck

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Run ShellCheck
        shell: bash
        run: |
          find . -type f -name '*.sh' -execdir shellcheck '{}' +
