name: Python unit tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  unittest:
    name: Run unit tests & report coverage
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.14"

      - name: Install coverage.py
        run: |
          python3 -m pip install --upgrade pip
          pip install coverage

      - name: Run unit tests
        run: coverage run -m unittest

      - name: Report coverage
        run: coverage report -m --skip-empty --fail-under=100
